<div id="all-view" *ngIf="!activeReleaseNote">
    <ng-container *ngFor="let releaseNote of releaseNotes">
        <div class="p-5" *ngFor="let note of releaseNote.children">
            <h1 class="mb-3">{{note?.title}}</h1>
            <markdown [data]="note?.content">{{note?.content}}</markdown>
            <ng-container *ngIf="activeReleaseNote?.title === 'Known Issues'">
                <ng-container *ngIf="knownJiraIssues?.length; else noKnownJiraIssues">
                    <div class="my-5">
                        <h1>Known Issues Tables</h1>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Key</th>
                                <th scope="col" class="fw-medium">Summary</th>
                                <th scope="col" class="fw-medium">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let issue of knownJiraIssues">
                                <tr>
                                    <th class="fw-medium">{{issue.key}}</th>
                                    <td>{{issue.summary}}</td>
                                    <td>{{issue.summaryText}}</td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #noKnownJiraIssues>
                    <h3 class="mx-3 my-5">No known Jira Issues</h3>
                </ng-template>
                <ng-container *ngIf="resolvedJiraIssues?.length; else noResolvedJiraIssues">
                    <div class="my-5">
                        <h1>Resolved Issues Tables</h1>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Key</th>
                                <th scope="col" class="fw-medium">Summary</th>
                                <th scope="col" class="fw-medium">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let issue of resolvedJiraIssues">
                                <tr>
                                    <th class="fw-medium">{{issue.key}}</th>
                                    <td>{{issue.summary}}</td>
                                    <td>{{issue.summaryText}}</td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #noResolvedJiraIssues>
                    <h3 class="mx-3 my-5">No resolved Jira Issues</h3>
                </ng-template>
            </ng-container>
        </div>
    </ng-container>


    <button *ngIf="roleContains('RELEASE_LEAD') && activeVersion === 'MAIN'" class="btn version" (click)="openModal('preview-modal')"><i class="fas fa-code-branch pe-2"></i>PREVIEW</button>
</div>

<div id="main-view" *ngIf="activeReleaseNote">
    <button *ngIf="editedContent && activeVersion === 'MAIN'" class="btn save rounded-circle" (click)="save()" [title]="'Save'"><i class="fas fa-save"></i></button>
    <button *ngIf="roleContains('RELEASE_LEAD') && activeVersion === 'MAIN'" class="btn edit-toggle rounded-circle" (click)="editToggle()" [title]="'Edit Toggle'"><i class="fas fa-pencil-ruler"></i></button>

    <ng-container *ngIf="!editMode">
        <div class="p-5">
            <h1 class="mb-3">{{activeReleaseNote?.title}}</h1>
            <ng-container *ngIf="activeReleaseNote?.content">
                <markdown [data]="activeReleaseNote?.content">{{activeReleaseNote?.content}}</markdown>
            </ng-container>
            <ng-container *ngIf="activeReleaseNote?.title === 'Known Issues'">
                <ng-container *ngIf="knownJiraIssues?.length; else noKnownJiraIssues">
                    <div class="my-5">
                        <h1>Known Issues Tables</h1>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Key</th>
                                <th scope="col" class="fw-medium">Summary</th>
                                <th scope="col" class="fw-medium">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let issue of knownJiraIssues">
                                <tr>
                                    <th class="fw-medium">{{issue.key}}</th>
                                    <td>{{issue.summary}}</td>
                                    <td>{{issue.summaryText}}</td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #noKnownJiraIssues>
                    <h3 class="mx-3 my-5">No known Jira Issues</h3>
                </ng-template>
                <ng-container *ngIf="resolvedJiraIssues?.length; else noResolvedJiraIssues">
                    <div class="my-5">
                        <h1>Resolved Issues Tables</h1>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col" class="fw-medium">Key</th>
                                <th scope="col" class="fw-medium">Summary</th>
                                <th scope="col" class="fw-medium">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let issue of resolvedJiraIssues">
                                <tr>
                                    <th class="fw-medium">{{issue.key}}</th>
                                    <td>{{issue.summary}}</td>
                                    <td>{{issue.summaryText}}</td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #noResolvedJiraIssues>
                    <h3 class="mx-3 my-5">No resolved Jira Issues</h3>
                </ng-template>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="editMode">
        <div class="p-5 quill-container">
            <h1 class="mb-3">{{activeReleaseNote?.title}}</h1>
            <div id="quill-editor"></div>
        </div>
    </ng-container>
    <button *ngIf="roleContains('RELEASE_LEAD') && activeVersion === 'MAIN'" class="btn version" (click)="openModal('preview-modal')"><i class="fas fa-code-branch pe-2"></i>PREVIEW</button>
</div>

<app-modal id="pdf-modal" class="modal" [size]="'xl'">
    <div header><h3 class="mb-0">PDF Preview<span class="px-2"></span></h3></div>
    <div body>
        <div id="pdf-view" *ngFor="let releaseNote of releaseNotes">
            <div class="p-5" *ngFor="let note of releaseNote.children">
                <h1 class="mb-3">{{note?.title}}</h1>
                <markdown [data]="note?.content">{{note?.content}}</markdown>
            </div>
        </div>
    </div>
    <div footer>
        <button type="button" class="btn accept" (click)="openPDF(); closeModal('pdf-modal')">Download PDF</button>
    </div>
</app-modal>

<app-modal id="version-modal" class="modal" [size]="'l'">
    <div header><h3 class="mb-0">Publish Release Notes<span class="px-2"></span></h3></div>
    <div body>
        <p class="p-3">Please enter the effective time to be associated with these release notes.</p>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Effective Time</span>
            <input #effectiveTime type="text" class="form-control" placeholder="eg. 2023-01-31">
        </div>
    </div>
    <div footer>
        <button type="button" class="btn" (click)="closeModal('version-modal')">CANCEL</button>
        <button type="button" class="btn accept" (click)="versionReleaseNotes(effectiveTime.value); closeModal('version-modal');">VERSION</button>
    </div>
</app-modal>

<app-modal id="preview-modal" class="modal" [size]="'xl'">
    <div header><h3 class="mb-0">Release Note Preview</h3></div>
    <div body class="rounded object m-3">
        <ng-container *ngFor="let releaseNote of releaseNotes">
            <ng-container *ngFor="let note of releaseNote.children">
                <ng-container *ngIf="note?.content">
                    <div class="p-5">
                        <h1 class="mb-3">{{note?.title}}</h1>
                        <markdown [data]="note?.content">{{note?.content}}</markdown>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    <div footer>
        <button type="button" class="btn" (click)="closeModal('preview-modal')">CLOSE</button>
        <button type="button" class="btn accept" (click)="closeModal('preview-modal'); openModal('version-modal')">ACCEPT</button>
    </div>
</app-modal>
