@use 'src/variables' as *;
@use 'sass:color';

div#main-view, div#all-view {
    margin-left: 32rem;
    position: relative;
    height: calc(100vh - 9rem);
    background-color: $white;
    overflow: scroll;

    h1 {
        font-weight: 300;
    }

    p {
        color: $river-bed;
        font-size: 1.6rem;
        line-height: 3rem;
    }

    button {
        &.save {
            position: absolute;
            height: 3.2rem;
            width: 3.2rem;
            color: $white;
            background-color: $fruit-salad;
            right: 6rem;
            top: 2rem;
            padding-left: 9px;

            &:hover {
                background-color: color.adjust($fruit-salad,$lightness: -10%);
            }
        }

        &.edit-toggle {
            position: absolute;
            height: 3.2rem;
            width: 3.2rem;
            color: $white;
            background-color: $sea-buckthorn;
            right: 2rem;
            top: 2rem;
            padding-left: 8px;

            &:hover {
                background-color: color.adjust($sea-buckthorn,$lightness: -10%);
            }
        }

        &.version {
            position: fixed;
            height: 3.2rem;
            color: $white;
            background-color: $wisteria;
            bottom: 6rem;
            right: 2rem;
            padding-left: 8px;

            &:hover {
                background-color: color.adjust($wisteria,$lightness: -10%);
            }
        }

        &.link {
            background-color: $wisteria;

            a {
                color: $white;
                line-height: 3rem;
            }

            &:hover {
                background-color: color.adjust($wisteria,$lightness: -10%);
            }
        }
    }
}

app-modal#version-modal {
    p {
        font-size: 1.4rem;
    }

    span {
        font-size: 1.4rem;
    }
}
app-modal#preview-modal {
    h2 {
       font-weight: 500;
    }
}
