@import '~src/variables.scss';

nav#sidebar {
    position: fixed;
    width: 32rem;
    height: calc(100vh - 90px);
    background: $alto-white;
    overflow: auto;

    div.header {
        border-bottom: 1px $ghost-grey solid;
        height: 4rem;

        h3 {
            span {
                font-size: 1.2rem;
                color: $grey;
            }
        }

        div.button-container {
            padding: 8px;

            button {
                height: 2.4rem;
                width: 2.4rem;
                color: $white;
                font-size: 1.4rem;
                padding-left: 9px;
                display: flex;
                justify-content: center;

                &.new {
                    background-color: lighten($fruit-salad, 10%);

                    &:hover {
                        background-color: $fruit-salad;
                    }
                }

                &.pdf {
                    background-color: lighten($wisteria, 10%);

                    &:hover {
                        background-color: $wisteria;
                    }
                }
            }
        }
    }

    div.line-item {
        font-size: 1.2rem;
        width: 100%;
        color: $bootstrap-black;
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;

        &.odd {
            background-color: darken($alto-white, 2%);
        }

        &:hover {
            background-color: darken($alto-white, 5%);
        }

        &.top-level {
            background-color: lighten($slate-grey, 25%);

            &:hover {
                background-color: lighten($slate-grey, 20%);
            }
        }

        &.active {
            background-color: $anakiwa;

            &:hover {
                background-color: darken($anakiwa, 5%);
            }
        }
    }
}
