@use 'src/variables' as *;
@use 'sass:color';

nav#sidebar {
    position: fixed;
    width: 32rem;
    height: calc(100vh - 90px);
    background: $alto-white;
    overflow: auto;

    div.header {
        border-bottom: 1px $ghost-grey solid;
        height: 4rem;

        h3 {
            span {
                font-size: 1.2rem;
                color: $grey;
            }
        }

        div.button-container {
            padding: 8px;

            button {
                height: 2.4rem;
                width: 2.4rem;
                color: $white;
                font-size: 1.4rem;
                padding-left: 9px;
                display: flex;
                justify-content: center;

                &.new {
                    background-color: color.adjust($fruit-salad,$lightness: 10%);

                    &:hover {
                        background-color: $fruit-salad;
                    }
                }

                &.pdf {
                    background-color: color.adjust($wisteria,$lightness: 10%);

                    &:hover {
                        background-color: $wisteria;
                    }
                }
            }
        }
    }

    div.line-item {
        position: relative;
        font-size: 1.2rem;
        width: 100%;
        color: $bootstrap-black;
        cursor: pointer;
        border-bottom: 1px $ghost-grey solid;

        &.odd {
            background-color: color.adjust($alto-white,$lightness: -2%);
        }

        &.top-level {
            background-color: color.adjust($slate-grey,$lightness: 25%);

            &:hover {
                background-color: color.adjust($slate-grey,$lightness: 20%);
            }
        }

        &:hover {
            background-color: color.adjust($alto-white,$lightness: -5%);

            & > button {
                display: block;
            }
        }



        &.active {
            background-color: $anakiwa;

            &:hover {
                background-color: color.adjust($anakiwa,$lightness: -5%);
            }
        }

        button {
            display: none;
            position: absolute;
            background-color: transparent;
            font-size: 1.4rem;
            top: 0.3rem;
            right: 0.3rem;
            color: $mandy;

            &:hover {
                color: color.adjust($mandy,$lightness: -10%);
            }
        }
    }
}
